<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--  CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
	<title>Pick-a-Pet</title>
</head>

<body>
    <main>
        <div class="container">
	        {{{ body }}} 
        </div>
    </main>
    
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Team Pick-a-Pet
                <a class="grey-text text-lighten-4 right" href="https://github.com/jkhwu/pick-a-">Github</a>
            </div>
        </div>
    </footer>

    <!--  Scripts  -->
    <script src='https://code.jquery.com/jquery-3.3.1.js' integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=' crossorigin='anonymous'></script>
    <script src="assets/js/materialize.js"></script>

    <!--  Local JS Files  -->
    <script src='assets/js/main.js'></script>
    <script src='assets/js/login.js'></script>
    <script src='assets/js/survey.js'></script>
    <script src='assets/js/petFinder.js'></script>
    <script src='assets/js/gMaps.js'></script>

</body>
</html>