<div id="loginDiv" class="center">
    <h5 class="desc">Welcome! PickaPet is designed to help you find the perfect pooch for your lifestyle.
        With so many adoptable dogs available, choosing the right one can quickly become overwhelming.
        Our survey will match you with the right potential pooch pals in your area! Log in below to get 
        started!</h5>
    <form action="/auth/google" method="GET">
        <button type="submit" class="loginButton red waves-effect waves-light btn-large"> 
            LOGIN WITH GOOGLE
        </button>
    </form>
</div>
         