<div id="loginDiv" class="center">
    <form action="/survey" method="GET">
        <button type="submit" class="loginButton red waves-effect waves-light btn-large"> 
            LOGIN WITH GOOGLE
        </button>
    </form>
</div>
         