<div id="mapContainer">
    <button class="mapButton" value="dog park">Dog Parks</button><button class="mapButton" value="pet friendly restaurants">Pet Friendly Restaurants</button><button class="mapButton" value="pet store">Pet Stores</button>
    <div id="map"></div>
    <div id="pano"></div>
</div>