<div className="Survey">
    <h2>Dog Breed Selector Quiz</h2>
        <form className="choices">
            <ol>
                {{#each questions}}
                    <li className="question">
                        <p><strong>{{this.q}}</strong></p>
                    </li>
                {{/each}}
            </ol>
            <div className="row">
                <div className="input-field col s3">
                    <i className="material-icons prefix">local_post_office</i>
                    <input id="icon_prefix" type="text" className="validate"/>
                    <label for="icon_prefix">ZIP code</label>
                </div>
            </div>
            <button className="btn btn-default" type="submit">
                See Available Dogs!
            </button>
        </form>
</div>