<div class="Survey">
    <h2>Dog Breed Selector Quiz</h2>
        <form>
            <input type="radio" /><span>Boop</span>
            <select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
            {{!-- <ol>
                {{#each questions}}
                    <li class="question">
                        <p><strong>{{this.q}}</strong></p>
                        {{#each this.c}}
                            <p>
                                <label>
                                    <input type="radio" class="with-gap" name={{this.id}} value={{this.id}}/>
                                    <span>{{this.option}}</span>
                                </label>
                            </p>
                        {{/each}}
                    </li>
                {{/each}}
            </ol> --}}

            <div class="row">
                <div class="input-field col s3">
                    <i class="material-icons prefix">local_post_office</i>
                    <input id="icon_prefix" type="text" class="validate" />
                    <label for="icon_prefix">ZIP code</label>
                </div>
            </div>

            <button class="btn btn-default" type="submit">
                See Available Dogs!
            </button>

        </form>
</div>