<div class="Survey">
    <h3>Dog Selector Quiz</h3>
    <h5>Answer the questions below to find your future best friend!</h5>
    <form action="/results" method="GET">
            <ol>
                {{#questions}}
                    <li class="question">
                        <p><strong>{{q}}</strong></p>
                        {{#c}}
                            <p>
                                <label>
                                    <input type="radio" name={{qNum}} value={{option}} />
                                    <span>{{option}}</span>
                                </label>
                            </p>
                        {{/c}}
                    </li>
                {{/questions}}
            </ol>

            <div class="row">
                <div class="input-field col s3">
                    <i class="material-icons prefix">local_post_office</i>
                    <input id="icon_prefix" type="text" class="zip validate" />
                    <label for="icon_prefix">ZIP code</label>
                </div>
            </div>

            <button id="submit" class="btn btn-default" type="submit">
                See Available Dogs!
            </button>

        </form>
</div>