/* Main Layout Styles */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
}


/* Example Layout Styles */

.breedButton {
    margin: 5px;
    padding: 0 40px;
    background-color: #651fff;
}

.loginButton {
    margin-top: 50px;
}

.desc {
    margin-top: 100px;
}


/* Map Layout Styles */

#map {
    height: 50vh;
    width: 50vh;
    background-color: green;
}

#pano {
    height: 50vh;
    width: 50vh;
    background-color: green;
}


/* Parallax Additional Styles */

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}