/* Main Layout Styles */

body {
    padding-top: 50px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: black;
    padding-top: 0;
    margin-top: 60px;
}


/* Example Layout Styles */

.breedButton {
    margin: 5px;
    padding: 0 40px;
    background-color: #651fff;
}


/* Map Layout Styles */

#map {
    height: 50vh;
    width: 50vh;
    background-color: green;
}

#pano {
    height: 50vh;
    width: 50vh;
    background-color: green;
}